<?xml version="1.0"?>
<Settings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Username>Workrbot</Username>
  <Cipher>AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAVSy3lJhmvUKONCqy5k3AUQAAAAACAAAAAAADZgAAwAAAABAAAAAX471N0tGnc5t/MUiqhnlIAAAAAASAAACgAAAAEAAAAF36uQwWcp+UWMBpyZPgSaoQAAAAyXfMoCfF1/PfNYLlcliu9xQAAAC84iBl3vZlfkBZf/zs7oSVxnLXSQ==</Cipher>
  <Entropy>FzPtWzCj7l+DxN+Ox0z1qYLvhiw=</Entropy>
  <Domain>HOME</Domain>
  <CollectionUri>http://192.168.1.17:8080/tfs/DefaultCollection/</CollectionUri>
</Settings>